<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/quote.js"></script>
	</head>
	<body>
		<h1 th:text="'Hello here is your quote!'"></h1>
		<h1 id="myQuote"></h1>
		<p th:text="${quote}" />
	</body>
</html>

